In [14]:
import pandas as pd
imort os

In [15]:
#list of high schools
meanscoileanna = ["Griffin High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for scoil in meanscoileanna: 
    print(scoil)

Griffin High School
Figueroa High School
Wilson High School
Wright High School

In [16]:
cineal_meanscoil = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for scoil in cineal_meanscoil:
    print(scoil)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [18]:
# create a Pandas Series from a list.
scoil_series = pd.Series(meanscoileanna)
scoil_series

0     Griffin High School
1    Figueroa High School
2      Wilson High School
3      Wright High School
dtype: object

In [20]:
# A dictionary of high schools
meanscoil_focloir = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}] 
for scoil in meanscoil_focloir:
    print(scoil)

{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'}
{'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}
{'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}
{'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}
{'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}

In [21]:
scoil_df = pd.DataFrame(meanscoil_focloir)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
# Three separate lists of information on high schools
scoil_id = [0, 1, 2, 3, 4]

scoil_ainm = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

cineal_scoil = ["District", "District", "Charter", "District","Charter"]

District
District
Charter
District
Charter

In [25]:
scoileanna_df = pd.DataFrame()

In [27]:
scoileanna_df["School ID"] = scoil_id
scoileanna_df["school_name"] = scoil_ainm
scoileanna_df["type"] = cineal_scoil
scoileanna_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
meanscoil_focloir = pd.DataFrame()